# BINARIES
*.exe
*.exe~
*.dll
*.so
*.dylib
klinik-pkp-api
klinik-pkp-api.exe

# ENVIRONMENT
.env

# IDE
.tmp/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# GO
go.work
go.work.sum

# FOLDERS
storage/**
